<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Show Contacts</title>
</head>
<body>
<section>
  <h1>This is show contacts page</h1>

  <div class="card mr-3 ml-3">
    <div class="card-body">
      <h1 class="text-center">Your contacts</h1>
      <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert text-center" role="alert">
        <span th:text="${session.message.content}"></span>
        <th:block th:text="${@sessionHelper.sessionRemove()}"></th:block>
      </div>
      <h1 th:if="${contacts.isEmpty()}">No Contact Found</h1>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c, status : ${contacts}">
          <th th:text="${'SCM202' + status.index + c.getId()}" scope="row">1</th>

          <td>

            <img class="my-profile-pic" th:if="${c.imageUrl != null}" th:src="@{'/img/'+${c.imageUrl}}" alt="profile photo">
            <span th:text="${c.getName()}"></span></td>

          <td>

            <a th:href="@{'/user/'+${c.id}+'/contact'}">
              <span th:text="${c.getEmail()}"></span>
            </a>


          </td>

          <td th:text="${c.getPhone()}">Otto</td>
          <td>
          <td>
            <a th:href="@{'/user/delete-contact/'+${c.id}}" class="btn btn-danger btn-sm">Delete</a>

          <form class="mt-2" method="POST" th:action="@{'/user/update-contact/'+${c.id}}">

            <button type="submit" class="btn btn-primary btn-sm">Update</button>

          </form>

        </td>
        </tr>
        </tbody>
      </table>


<!--      Pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination">

          <li th:if="${currentPage != 0}" class="page-item"><a class="page-link" th:href="@{'/user/show-contacts/'+${(currentPage)-1}}">Previous</a></li>


          <li th:classappend="${currentPage==(i)-1? 'active' : ''} " th:each="i : ${#numbers.sequence(1, totalPages, 1)}" class="page-item">
            <a th:href="@{'/user/show-contacts/'+${(i)-1}}" class="page-link"> <span th:text="${i}"></span></a></li>


          <li th:if="${(currentPage)+1 != totalPages}" class="page-item"><a class="page-link" th:href="@{'/user/show-contacts/'+${(currentPage)+1}}">Next</a></li>
        </ul>
      </nav>


    </div>
  </div>

<!--  <div th:each="c : ${contacts}">-->
<!--    <span th:value="${c.getName()}"></span>-->
<!--  </div>-->
</section>

</body>
</html>